 img.center{
    position:absolute;
    width:272px; /*image width */
    height:92px; /*image height */
    left:50%; 
    top:50%;
    margin-left:-186px; /*image width/2 */
    margin-top:-46px; /*image height/2 */
    }

ul {
  list-style-type: none;
  text-decoration: none;
}

li.left{
  float: left;
}

li {
  float: right;
  text-decoration: none;
}

li a{
  text-align: center;
  padding: 24px;
}

li.hover{
  text-decoration: underline;
}

ul.footer{
  position: fixed;
  padding: 12px;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}